 p,h1,h3{color:peru;
}
body{
    background-image:url(zinah26.jpg);
}
tr ,td,ul,a{
    color: peru;
}
.title{
    text-transform: capitalize;

}
#article-title{
    font-family: cursive;
    text-transform: capitalize;     

    img {
        margin-bottom: 16px;
    }
 .table1 ,table2{
  height:20;
  width:20;
background-color:yellow;
